<script src="//127.0.0.1:1990/confluence/atlassian-connect/all.js" type="text/javascript"></script>
<div class="ac-content">
    <h1>Hello World!</h1>
    <p>Willkommen bei deinem ersten Connect on Rails Plugin</p>
</div>